<!DOCTYPE html>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<html lang="en">
<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    form {text-align: center;}

    * {
  background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-size: 100% 100%;

}
 </style>
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <h1 style="color:black">

    This is the temperature for: {{data.resolvedAddress}}
  </h1>
</head>
<body>
  <table style="width:100%" class="table table-striped">
      <tr>
      {% for day in days %}
        <th>
        {{day}}
        </th>
      {% endfor %}
    </tr>
    <tr>
      {% for day in data['days'] %}
        <td>{{day.datetime}}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for day in data['days'] %}
        <td>
            <span>day temp: {{day.tempmax}}<sup>o</sup></span>
            <br>
            <span>night temp: {{day.tempmin}}<sup>o</sup></span>
            <br>
            <span>humidity: {{day.humidity}}%</span>
        </td>
      {% endfor %}
    </tr>

  </table>

</body>


</html>